body {
    padding: 0;
    margin: 0;
    background-color: rgb(236, 236, 236);
}

.glava {
    height: calc(120px + 1vw);
    background-image: url('1121212.png');
    filter: blur(5px);
}

.header {
    display: flex;
    font-size: calc(25px + 1vw);
    font-family: 'Bebas Neue', cursive;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    color: rgb(39, 39, 39);
}

.wrap {
    background-color: rgb(39, 39, 39);
    height: calc(300px + 12vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}

.text {
    font-size: calc(25px + 1vw);
    font-family: 'Bebas Neue', cursive;
    color: rgb(207, 207, 207);
}

.shrink {
    padding: 0;
    border: 0;
    border-radius: 0px;
    height: calc(20px + 5vw);
    width: calc(45px + 5vw);
    font-family: 'Bebas Neue', cursive;
    font-size: calc(20px + 1vw);
    color: rgb(39, 39, 39);
}

.inputText {
    width: calc( 200px + 5vw);
    height: calc(20px + 5vw);
    font-size: calc(20px + 1vw);
    color: rgb(39, 39, 39);
}

.sokr {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.inputText2 {
    width: calc( 200px + 5vw);
    height: calc(20px + 5vw);
    font-size: calc(20px + 1vw);
    color: rgb(39, 39, 39);
}